# TELEGRAM BOT
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
ADMIN_IDS=980561369,1280669796
# MONGODB
MONGO_URI=mongodb://localhost:27017/sensei
MONGO_DB=sensei

# CRYPTO API
TON_API_KEY=

# APP SETTINGS
DEBUG=false
MAINTENANCE_MODE=false

# BANK
BANK_INITIAL_COINS=1000000000

# GEMINI
GEMINI_API_KEY=your_gemini_key_here
SAMBANOVA_API_KEY=your_sambanova_key_here